@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.play {
  background: rgba(255, 255, 255, 0.4);
  transition: all ease-in-out 200ms;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto; }
  .play:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.7); }

a {
  text-decoration: none;
  color: #FFFFFF; }
  a:hover {
    color: #DC7725; }

ul {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase; }

h1 {
  padding: 10px;
  font-size: 7.5em;
  text-transform: uppercase; }

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3em;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 6px; }

h4 {
  font-size: 2em;
  text-transform: uppercase; }

h5 {
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  font-size: .9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 6px; }

* {
  box-sizing: border-box; }

.hero {
  position: relative;
  background: url(../img/hero-slide1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw; }

.top-nav {
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 70px 0 70px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }
  .top-nav .links {
    width: 700px; }
    .top-nav .links ul {
      font-family: 'Fjalla One', sans-serif;
      display: flex;
      justify-content: space-around; }
      .top-nav .links ul li {
        margin-left: 20px; }

.hero-text {
  position: relative;
  top: 12%;
  text-align: center;
  color: #FFFFFF; }
  .hero-text .line {
    background: #FFFFFF;
    width: 250px;
    height: 5px;
    margin: 15px auto; }

.play {
  margin-top: 30px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .play img {
    width: 30px;
    height: 35px; }

.explore {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #DC7725;
  padding: 15px 20px; }
  .explore .triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 8px solid #DC7725;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; }

.gallery {
  display: flex;
  flex-wrap: wrap; }

.rafting {
  background: url(../img/home-raft.jpg);
  background-size: cover;
  background-position: center center;
  height: 420px; }

.basecamp {
  background: url(../img/home-basecamp.jpg);
  background-size: cover;
  background-position: center center;
  height: 420px; }

.backpacking {
  background: url(../img/home-backpacking.jpg);
  background-size: cover;
  background-position: center center;
  height: 420px; }

.canoe {
  background: url(../img/home-canoe.jpg);
  background-size: cover;
  background-position: center center;
  height: 420px; }

.photography {
  background: url(../img/home-photo.jpg);
  background-size: cover;
  background-position: center center;
  height: 420px; }

.custom {
  background: url(../img/home-custom.jpg);
  background-size: cover;
  background-position: center center;
  height: 420px; }

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 81px;
  width: 100%;
  background: url(../img/nav-bg.jpg); }
  .main-nav .main-links {
    display: flex;
    width: 40%;
    justify-content: space-around; }
  .main-nav .search {
    display: flex;
    justify-content: space-around; }
    .main-nav .search i {
      filter: invert(1); }

/*# sourceMappingURL=applications.css.map */
