//=====================Begining of GALLERY section===================//
#gallery {
  display: flex;
  flex-wrap: wrap;
  @media screen and #{$sm-break} {
    background: $gallery-bg;
  }
  h4 {
    align-self: flex-end;
  }
  .line {
    @extend %line;
    margin: 0;
    position: absolute;
    width: 40px;
    background: $orange;
    bottom: 20%;
    @media screen and #{$sm-break} {
      bottom: 25%;
    }
  }
  .button {
    @extend %button;
    height: 90px;
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(49,49,49,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(1.3);
      background: rgba(49,49,49,0.8);
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}

//=====================Begining of Rafting section===================//
@include gallery (rafting home-raft 50% 100%, basecamp home-basecamp 25% 50%, backpacking home-backpacking 25% 50%, canoe home-canoe 25% 50%, photography home-photo 25% 50%, custom home-custom 50% 100%);

.rafting {
  @media screen and #{$sm-break} {
    margin-top: 5%;
  }
}
.custom {
  @media screen and #{$sm-break} {
    margin-bottom: 5%;
  }
}
