//=====================Begining of HERO section===================//

.hero {
  position: relative;
  background: url(../img/hero-slide1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
//====================Begining of TOP-NAV section===================//
.top-nav {
  color: $white;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 70px 0 70px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  .links {
    width: 700px;
    ul {
      font-family: 'Fjalla One', sans-serif;
      display: flex;
      justify-content: space-around;
      li {
        margin-left: 20px;
      }
    }
  }
}
//====================Begining of HERO-TEXT section===================//
.hero-text {
  position: relative;
  top: 12%;
  text-align: center;
  color: $white;
  .line {
    background: $white;
    width: 250px;
    height: 5px;
    margin: 15px auto;
  }
}
.play {
  @extend %button;
  margin-top: 30px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30px;
    height: 35px;
  }
}
//====================Begining of EXPLORE BUTTON section===================//
.explore {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%,0);
  background: $orange;
  padding: 15px 20px;
  .triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
    border-top: 8px solid $orange;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}
