//=====================Begining of HERO section===================//

.hero {
  position: relative;
  background: url(../img/hero-slide1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  @media screen and #{$md-break} {
    height: 500px;
  }
}
//====================Begining of TOP-NAV section===================//
.top-nav {
  color: $white;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 70px 0 70px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  @media screen and #{$md-break} {
    padding: 40px 20px;
    justify-content: space-between;
  }
}
.logo {
  width: 400px;
  white-space: nowrap;
  @media screen and #{$md-break} {
    font-size: .8em;
  }
}
.links {
  white-space: nowrap;
  width: 700px;
  margin-left: 60px;
  @media screen and #{$lg-break} {
    margin-left: 40px;
    font-size: 0.8em;
  }
  @media screen and #{$md-break} {
    display: none;
    width: 0px;
  }
}
//====================Begining of HERO-RESPONSIVE-MENU section===================//
.responsive-menu, .responsive-menu-close {
  display: none;
  width: 0px;
  @media screen and #{$md-break} {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 2em;
    &:hover {
      cursor: pointer;
    }
  }
}

//====================Begining of HERO-TEXT section===================//
.hero-text {
  position: relative;
  top: 5%;
  text-align: center;
  color: $white;
  .line {
    @extend %line;
  }
}
.play {
  @extend %button;
  margin-top: 30px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and #{$md-break} {
    margin-top: 20px;
  }

  img {
    width: 30px;
    height: 35px;
  }
}
//====================Begining of EXPLORE BUTTON section===================//
.explore {
  position: absolute;
  border-radius: 5px;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%,0) translateY(0px);
  transition: translateY 200ms ease-in-out;
  background: $orange;
  padding: 20px 25px;
  -webkit-animation: bounce 1.2s 4;
  @media screen and #{$md-break} {
    display: none;
    width: 0px;
  }
  .triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
    border-top: 8px solid $orange;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}
