//====================Begining of Main-NAV section===================//
.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 81px;
  width: 100%;
  background: url(../img/nav-bg.jpg);
  @media screen and #{$md-break} {
    display: none;
  }
  .main-links {
    display: flex;
    width: 500px;
    justify-content: space-around;
  }
  .search {
    position: relative;
    display: flex;
    justify-content: space-around;
    &:hover {
      cursor: pointer;
    }
    i {
      color: lighten($menu-text, 20%);
      font-size: 1.5em;
      position: absolute;
      right: -30px;
      top: -2px;
    }
  }
}

//====================Begining of DROPDOWN-NAV section===================//
ul {
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  justify-content: space-around;
  li {
    position: relative;
    padding: 15px;
  }
}
.dropdown {
  &:hover {
    cursor: pointer;
    background: $sub-nav-bg;
  }
  &:hover > .sub-menu {
    display: block;
  }
  .sub-menu {
    display: none;
    z-index: 2;
    width: 260px;
    position: absolute;
    top: 100%;
    left: 0;
    background: $sub-nav-bg;
    line-height: 1.5em;
    li {
      color: lightgrey;
      text-transform: none;
      border-bottom: 1px solid $sub-nav-line;
      &:hover {
        color: white;
      }
    }
  }
}
