@mixin gallery($classes...) {
  @each $class in $classes {
    .#{nth($class, 1)} {
      background: url(../img/#{nth($class, 2)}.jpg);
      background-size: cover;
      background-position: center center;
      height: 420px;
      display: flex;
      padding: 40px;
      position: relative;
      width: #{nth($class, 3)};
      @media screen and #{$md-break} {
        width: #{nth($class, 4)};
      }
    }
  }
}
