//====================Color Variables===================//
$orange: #DC7725;
$white: #FFFFFF;
$button-bg: rgba(255, 255, 255, 0.4);
$sub-nav-line: #CDD0D1;
$sub-nav-bg: #404040;
$gallery-gb: #D1D1C9;


//====================Media Queries===================//

$lg-break: '(max-width: 1040px)';
$md-break: '(max-width: 930px)';
$sm-break: '(max-width: 620px)';
